.custom-color-part1 {
  background-image: linear-gradient(#DA98FF, #5F4B8b)
}

.custom-color-part1 .primary-color {
  color: #FFFFFF
}

.custom-color-part1 .secondary-color {
  color: #F3F3F3
}

.custom-color-part1 .accent-bg {
  background-image: linear-gradient(45deg, #FFFFFF, #FFFFFF)
}

.custom-color-part1 .secondary-bg {
  background-color: #080808
}

.custom-color-part1 .svg-fill {
  fill: #FFFFFF
}

.custom-color-part2 {
  background-color: #FFFFFF
}

.custom-color-part2 .primary-color {
  color: #FFFFFF
}

.custom-color-part2 .secondary-color {
  color: #4C4C4C
}

.custom-color-part2 .accent-bg {
  background-color: #00307C
}

.custom-color-part2 .secondary-bg {
  background-color: #5F4B8b
}

.custom-color-part2 .svg-fill {
  fill: #FFFFFF
}

.custom-color-part3 {
  background-image: linear-gradient(#5F4B8b, #4B148D)
}

.custom-color-part3 .primary-color {
  color: #FFFFFF
}

.custom-color-part3 .secondary-color {
  color: #F2FDFF
}

.custom-color-part3 .accent-bg {
  background-color: #026FFF
}

.custom-color-part3 .secondary-bg {
  background-color: #2898FB
}

.custom-color-part3 .svg-fill {
  fill: #FFFFFF
}

.custom-color-part4 {
  background-color: #FFFFFF
}

.custom-color-part4 .primary-color {
  color: #FFFFFF
}

.custom-color-part4 .secondary-color {
  color: #D7F9FF
}

.custom-color-part4 .accent-bg {
  background-color: #5F4B8b
}

.custom-color-part4 .secondary-bg {
  background-color: #2898FB
}

.custom-color-part4 .svg-fill {
  fill: #FFFFFF
}

/* custom */
section.title {
  padding-bottom: 0px;
}
section.title-body {
  padding-top: 75px;
}

.rounder {
  border-radius: 15px;
}
.purple-bg {
  background-color: #a452fe;
}